<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">

    <div class="form-group">
        <label for="contentTitle">Title</label>
        <input type="text" name="contentTitle" id="contentTitle" class="form-control">
        <label for="contentBody">Post</label>
        <textarea name="contentBody" id="contentBody" class="form-control" rows="5"></textarea>
    </div>

    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer"); -%>